body{
    box-sizing: border-box;
    background-color: rgba(249, 245, 245, 0.349);
}
.bg{
    background-color: rgba(252, 251, 251, 0.307);
}
.font-color{
    font-family:monospace ;
    color: #285ed3
}

.animated-text {
   
    animation-duration: 2s;
    animation-fill-mode: both;
    opacity: 0;
    transform: translateY(40px);
  }
  
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .animated-text {
    animation-name: fadeInUp;
  }
  